.ql-editor {
  min-height: 100px;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow,
.ql-editor {
  max-width: 1086px;
  margin: 0 auto;
  border-color: rgb(106, 106, 106);
  border-radius: 7px;
  margin-bottom: 10px;
  background: #ffffffc9;
  color: #383838;
}
.btns {
  max-width: 1086px;
  margin: 0 auto;
  border-color: rgb(106, 106, 106);
  border-radius: 7px;
  margin-bottom: 10px;
  margin-bottom: 50px;
}

.btns button {
  padding: 8px 14px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
}
.btns button:hover {
  transform: scale(1.07);
  transition: all 0.6s;
}

.btns .submit {
  margin-right: 10px;
  background: rgba(102, 200, 102, 0.826);
  color: black;
}

.btns .discard {
  background: rgba(209, 88, 88, 0.947);
}

.overlay-content {
  border-radius: 7px;
  padding: 8px;
  max-width: 1086px;
}
